<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ConsultaAdd</display-name>
    <servlet-name>ConsultaAdd</servlet-name>
    <servlet-class>controller.ConsultaAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaAdd</servlet-name>
    <url-pattern>/ConsultaAdd</url-pattern>
  </servlet-mapping>
  <display-name>clinicaveterinariatrabalho</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConsultaListar</display-name>
    <servlet-name>ConsultaListar</servlet-name>
    <servlet-class>controller.ConsultaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaListar</servlet-name>
    <url-pattern>/ConsultaListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaExcluir</display-name>
    <servlet-name>ConsultaExcluir</servlet-name>
    <servlet-class>controller.ConsultaExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaExcluir</servlet-name>
    <url-pattern>/ConsultaExcluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaAlterar</display-name>
    <servlet-name>ConsultaAlterar</servlet-name>
    <servlet-class>controller.ConsultaAlterar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaAlterar</servlet-name>
    <url-pattern>/ConsultaAlterar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgendamentoAdd</display-name>
    <servlet-name>AgendamentoAdd</servlet-name>
    <servlet-class>controller.AgendamentoAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendamentoAdd</servlet-name>
    <url-pattern>/AgendamentoAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgendamentoAlterar</display-name>
    <servlet-name>AgendamentoAlterar</servlet-name>
    <servlet-class>controller.AgendamentoAlterar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendamentoAlterar</servlet-name>
    <url-pattern>/AgendamentoAlterar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgendamentoExcluir</display-name>
    <servlet-name>AgendamentoExcluir</servlet-name>
    <servlet-class>controller.AgendamentoExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendamentoExcluir</servlet-name>
    <url-pattern>/AgendamentoExcluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgendamentoListar</display-name>
    <servlet-name>AgendamentoListar</servlet-name>
    <servlet-class>controller.AgendamentoListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendamentoListar</servlet-name>
    <url-pattern>/AgendamentoListar</url-pattern>
  </servlet-mapping>
</web-app>